.posts{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.cardBox{
    margin: 7px;
}
.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    height:70px;
}